<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plateforme de rendez-vous</title>
    <script src="static/jquery-4.0.0.min.js"></script>
    <script type="module" src="static/js/app.js"></script>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <nav class="navbar">
        <ul>
            <div id="liens">
                <a class="pages" id="rendezVous" href="#rendezVous">Rendez-Vous</a>
                <a class="pages" id="voitures" href="#voitures">Voitures</a></li>
                <a class="pages" id="technicien" href="#technicien">Technicien</a>
            </div>
        </ul>
    </nav>
    <h1>Plateforme de rendez-vous automobiles</h1>
    <h2 id="contenuPages"></h2>
    <div id="content" class="tiles-container"">

    </div>
    </div>
</body>

</html>