<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plateforme de rendez-vous</title>
    <script>
        window.initialStatusCode = {{ initial_status_code | default (200) }};
    </script>
    <script src="static/vendor/jquery-4.0.0.min.js"></script>
    <script src="static/vendor/bootstrap.bundle.min.js"></script>
    <script type="module" src="static/js/app.js"></script>
    <link rel="stylesheet" href="static/vendor/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-success" data-bs-theme="dark">
        <div class="container-fluid" id="liens">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link pages" id="rendezVous" href="/#rendezVous"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pages" id="voitures" href="/#voitures"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pages" id="technicien" href="/#technicien"></a>
                </li>
            </ul>
        </div>
    </nav>

    <h1 id="titrePrincipal"></h1>
    <h2 id="contenuPages"></h2>
    <div id="content" class="container">
        <div id="tiles-container" class="row">
        </div>
    </div>
</body>

<script id="card-template-voiture" type="text/x-template">
      <div class="card voiture-tile" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-modele"></p>
          <p class="card-annee"></p>
          <p class="card-couleur"></p>
          <p class="card-actif"></p>
          <button type="button" class="modifier-voiture btn btn-primary"></button>
          <button type="button" class="actif-voiture btn btn-warning">Mettre inactif</button>
          <button type="button" class="supprimer-voiture btn btn-danger"></button>
        </div>
      </div>
</script>

<div id="modal-window-voiture" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button id="boutonConfirmer" type="button" class="bouton-confirmer btn btn-primary"></button>
                <button type="button" class="bouton-annuler btn btn-secondary" data-bs-dismiss="modal"></button>
            </div>
        </div>
    </div>
</div>

<div id="modal-window-modification-voiture" class="modal fade" tabindex="-1" aria-labelledby="modalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Modification d'une voiture</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Form Inside Modal -->
            <form id="updateVoitureForm">
                <div class="modal-body">
                    <!-- Marque -->
                    <div class="mb-3">
                        <label for="marqueVoiture" class="marque-voiture form-label"></label>
                        <input type="text" class="form-control" id="marqueVoiture"
                            placeholder="Veuillez saisir la marque de la voiture" required>
                    </div>

                    <!-- Modèle -->
                    <div class="mb-3">
                        <label for="modeleVoiture" class="modele-voiture form-label"></label>
                        <input type="text" class="form-control" id="modeleVoiture"
                            placeholder="Veuillez saisir le modèle de la voiture" required>
                    </div>

                    <!-- Année -->
                    <div class="mb-3">
                        <label for="anneeVoiture" class="form-label">Année</label>
                        <input type="number" class="form-control" id="anneeVoiture"
                            placeholder="Veuillez saisir l'année de la voiture" required>
                    </div>

                    <!-- Couleur -->
                    <div class="mb-3">
                        <label for="couleurVoiture" class="form-label">Couleur</label>
                        <input type="text" class="form-control" id="couleurVoiture"
                            placeholder="Veuillez saisir la couleur de la voiture" required>
                    </div>

                    <!-- Actif Checkbox -->
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="actifVoiture">
                        <label class="form-check-label" for="actifVoiture">Actif</label>
                    </div>

                    <!-- Submit Button -->
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="submit" id="boutonConfirmer" class="bouton-confirmer btn btn-primary"></button>
                    <button type="button" class="bouton-annuler btn btn-secondary" data-bs-dismiss="modal"></button>
                </div>
            </form>
        </div>
    </div>
</div>

</html>