.navbar {
    background-color: #2c3e50;
    overflow: hidden;
    display: flex;
    justify-content: start;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.tiles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* espace entre les tiles */
}

.tile {
    background-color: #f9f9f9;
    border: 2px solid #007BFF; /* bordure autour de la tile */
    border-radius: 8px;
    padding: 16px;
    width: 150px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.tile:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
